In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
merge_df = pd.merge(study_results, mouse_metadata, on="Mouse ID", how="outer")

# Display the data table for preview
merge_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [2]:
# Check the number of mice.
print(len(merge_df["Mouse ID"].unique()))

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
dupicated_ID = merge_df[merge_df.duplicated(['Mouse ID', 'Timepoint'], False)]

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
dupicated_ID

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = merge_df.drop_duplicates(['Mouse ID', 'Timepoint'], False)
clean_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
...,...,...,...,...,...,...,...,...
1888,m601,25,33.118756,1,Capomulin,Male,22,17
1889,m601,30,31.758275,1,Capomulin,Male,22,17
1890,m601,35,30.834357,1,Capomulin,Male,22,17
1891,m601,40,31.378045,1,Capomulin,Male,22,17
1892,m601,45,28.430964,1,Capomulin,Male,22,17

In [6]:
# Check the number of mice in the clean DataFrame.
print(len(clean_df["Mouse ID"].unique()))

249

In [50]:
regimen_group = clean_df["Drug Regimen"].unique()

array(['Capomulin', 'Ketapril', 'Naftisol', 'Infubinol', 'Stelasyn',
       'Ramicane', 'Propriva', 'Zoniferol', 'Placebo', 'Ceftamin'],
      dtype=object)

In [69]:
regimen_group_df = clean_df.groupby("Drug Regimen").unique()
regimen_group_df.head()
#regimen_mean = np.mean(regimen_group_df['Tumor Volume (mm3)'])

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'

In [66]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen



# np.mean(clean_df['Tumor Volume (mm3)'])
# median_numpy = np.median(clean_df['Tumor Volume (mm3)'])
# var_numpy = np.var(clean_df['Tumor Volume (mm3)'])
# sd_numpy = np.std(clean_df['Tumor Volume (mm3)'])    
# sem_numpy = st.sem(clean_df['Tumor Volume (mm3)']) 

# Use this straighforward method, create multiple series and put them all in a dataframe at the end.

summary_df = pd.DataFrame({'Drug Regimen': regimen_group,
                              'Mean Tumor Volume': regimen_mean})
summary_df.head()

  Drug Regimen  Mean Tumor Volume
0    Capomulin           50.44931
1     Ketapril           50.44931
2     Naftisol           50.44931
3    Infubinol           50.44931
4     Stelasyn           50.44931